[Unit]
Description=XML Import Worker
After=network.target mariadb.service mysql.service

[Service]
Type=oneshot
User=root
Group=root
WorkingDirectory=/opt/xml_data_importer
Environment=PYTHONPATH=/opt/xml_data_importer
ExecStartPre=/bin/sleep 120
ExecStart=/opt/xml_data_importer/.venv/bin/python -m importer.main

StandardOutput=journal
StandardError=journal
